<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FillTheTank.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FillTheTankDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03C1682823325E8C00C6B65E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C1683B23325E8D00C6B65E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C1684623325E8D00C6B65E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C1687B23326E9700C6B65E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C16899233270ED00C6B65E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C168A1233270ED00C6B65E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C168C223327FEC00C6B65E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C168CA23327FEC00C6B65E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
